/* .gallery-sec1 {
  padding:2rem;
  background-color: #f7f7f7;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;
}

.grid-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.grid-wrapper img:hover {
  transform: scale(1.05);
}
  */
